
body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

div#map {
	width: 80%;
	height: 100%;
	float: left;
}

div#info {
	z-index: 150;
	position: absolute;
	top: 6%;
	right: 22%;
	background: black;
	color: white;
	font-size: x-large;
}

div#results {
	width: 20%;
	height: 100%;
	background: #DEDEDE;
	float: left;
	overflow: auto;
}

div#result_inner {
	padding: 1em;
}

div.result {
	background: #E6E6E6;
	padding: 1em;
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

div#header {
	position:absolute;
	top: 2em;
	left: 5em;
	z-index: 150;
}

div#header:hover {
	background: rgba(155,179,194,0.3);
	border-radius: 0.5em;
	cursor: pointer;
	font-style: italic;
}

div#header_inner {
	padding: 1em;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 0;
	font-family: 'Prosto One', cursive;
}

a.leaflet-popup-close-button {
	display: none;
}

#result_inner>i {
	display: inline-block;
	font-size: x-large;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	cursor: pointer;
}

#result_inner>i:hover {
	color: red;
}