
body {
	font-family: Lato, Arial;
	font-size: 1.2em;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 0;
	font-family: 'Prosto One', cursive;
}

div.searchbox {
	background: lightgray;
	width: 300px;
}

div.search_results {
	/* width: 960px; */
	/* margin-right: auto; */
	/* margin-left: auto; */
	padding-right: 10px;
}

div.search_result {
	display: block;
	background: lightgray;
	/* width: 100%; */
	/* border: 1px solid darkgray; */
	/* margin-bottom: 1px; */
	margin-left: 5px;
	min-height: 200px;
}

.result_summary {
	margin: 5px;
	margin-top:;
	color: blue;
	float: left;
	min-height: 190px;
}

.result_detail {
    float: left;
    width: 90%;
    min-height: 190px;
}

.slice_duration {
    float: left;
    /* position: absolute; */
    margin: 1em;
    margin-top: 0;
    vertical-align: middle;
    height: 100%;
}

.slice_duration_inner {
	margin-bottom: 1em;
	padding: 0.2em;
	border: 1px dashed black;
}

.slice_refundable {
	float: right;
	position: relative;
	top: -4em;
	right: 1em;
}

.slice_container {
    /* width: 90%; */
    /* height: 100%; */
    padding: 1em;
}

.flight_info {
    float: left;
    margin-right: 5px;
    font-weight: bold;
}

.flight_carrier {

}

.flight_number {

}

.flight_leg {
    margin-bottom: 1em;
	
}