<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SlothAir Search</title>
        <link href='http://fonts.googleapis.com/css?family=Prosto+One' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/static/css/stylesheet.css" type="text/css">
    </head>
    
    <body>
        Hello!

        <form method="POST" action="/search/results/">
            {{ form.hidden_tag() }}
            {% for field in form if field.widget.input_type != 'hidden' %}
                {{ field.label }}
                {{ field }}
            {% endfor %}
            <input type="submit" value="Go">
        </form>
    </body>
</html>
